name: Run R Scripts Daily

on:
  schedule:
    - cron: '0 4 * * *'  # Runs at 4 AM UTC daily
  workflow_dispatch: # Allows you to manually trigger the workflow

jobs:
  run-scripts:
    runs-on: ubuntu-latest

    permissions: write-all

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Set up R environment
      uses: r-lib/actions/setup-r@v2

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcurl4-openssl-dev libssl-dev libxml2-dev

    - name: Set up renv
      uses: r-lib/actions/setup-renv@v2

    - name: Run create_prompt.R
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        TURSO_DATABASE_URL: ${{ secrets.TURSO_DATABASE_URL }}
        TURSO_AUTH_TOKEN: ${{ secrets.TURSO_AUTH_TOKEN }}
      run: Rscript R/create_prompt.R
      working-directory: ${{ github.workspace }}

    - name: Run fetch_image.R
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        TURSO_DATABASE_URL: ${{ secrets.TURSO_DATABASE_URL }}
        TURSO_AUTH_TOKEN: ${{ secrets.TURSO_AUTH_TOKEN }}
        R2_ACCOUNT_ID: ${{ secrets.R2_ACCOUNT_ID }}
        R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
        R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
        R2_BUCKET_NAME: ${{ secrets.R2_BUCKET_NAME }}
      timeout-minutes: 20
      run: Rscript R/fetch_image.R
      working-directory: ${{ github.workspace }}

    - name: Run deploy_app.R
      env:
        SHINY_APPS_NAME: ${{ secrets.SHINY_APPS_NAME }}
        SHINY_APPS_SECRET: ${{ secrets.SHINY_APPS_SECRET }}
        SHINY_APPS_TOKEN: ${{ secrets.SHINY_APPS_TOKEN }}
        R2_PUBLIC_URL: ${{ secrets.R2_PUBLIC_URL }}
        TURSO_DATABASE_URL: ${{ secrets.TURSO_DATABASE_URL }}
        TURSO_AUTH_TOKEN: ${{ secrets.TURSO_AUTH_TOKEN }}
      run: Rscript R/deploy_app.R
      working-directory: ${{ github.workspace }}
