name: Run R Scripts Daily

on:
  schedule:
    - cron: '0 4 * * *'  # Runs at 4 AM UTC daily
  workflow_dispatch: # Allows you to manually trigger the workflow

jobs:
  run-scripts:
    runs-on: ubuntu-latest

    permissions: write-all

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Set up R environment
      uses: r-lib/actions/setup-r@v2

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcurl4-openssl-dev libssl-dev libxml2-dev

    - name: Set up renv
      uses: r-lib/actions/setup-renv@v2

    - name: Run create_prompt.R
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      run: Rscript R/create_prompt.R
      working-directory: ${{ github.workspace }}

    - name: Run fetch_image.R
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      timeout-minutes: 20
      run: Rscript R/fetch_image.R
      working-directory: ${{ github.workspace }}

    - name: Run deploy_app.R
      env:
        SHINY_APPS_NAME: ${{ secrets.SHINY_APPS_NAME }}
        SHINY_APPS_SECRET: ${{ secrets.SHINY_APPS_SECRET }}
        SHINY_APPS_TOKEN: ${{ secrets.SHINY_APPS_TOKEN }}
      run: Rscript R/deploy_app.R
      working-directory: ${{ github.workspace }}

    - name: Commit and push if there are changes
      run: |
        git config --local user.name github-actions
        git config --local user.email "actions@github.com"
        git add app/data/prompts.csv app/img/
        git commit -m "Update dataset" || echo "No changes to commit"
        git push origin main
